@model ListaProdutosViewModel
 
<h1 class="mt-3">@Model.CategoriaSelecionada</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var produto in Model.Produtos) 
    {
        <div class="col">
            <div class="card product-card">
                <img src="@produto.UrlImagem" class="card-img-top" alt="@produto.Nome">
                <div class="card-body product-button">
                    <h4 class="d-grid">
                    </h4>
 
                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="product-link">@produto.Nome</a>
                        </h2>
                        <h5 class="text-nowrap">
                            R$ @produto.Preco.ToString("F2")
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>